.subscribe-button {
  background-color: rgba(173, 7, 7, 0.84);
  height: 35px;
  width : 105px;
  color:white;
  border-radius: 8px;
  cursor: pointer;
  border-color: none;
  margin-right:10px;
  font-weight:bold;
  font-size:15px;
  box-shadow:10px 5px 2px rgb(0, 0, 0, 0.6)
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align:top


}
.subscribe-button:hover
{
  opacity: 0.8;
 }
 .subscribe-button:active{
 opacity: 0.2;
  
 }
.join-button
 {
  background-color: rgba(11, 11, 98, 0.709);
  height: 35px;
  width : 105px;
  color:white;
  border-radius: 8px;
  cursor: pointer;
  border-color:none;
  margin-right:10px;
  font-weight: bold;
  font-size:15px;
  transition: opacity 0.1s;
}
.tweet-button {
background-color: rgb(10, 73, 98);
height:35px;
width:105px;
color:white;
border-radius:20px;
cursor:pointer;
font-weight:bold;
font-size:15px;
}

.join-button:hover
{
opacity: 1.4;
}
.join-button:active
{
opacity: 0.2;
}
.tweet-button:hover
{
opacity: 0.8;
}
.tweet-button:active
{
opacity: 0.2;
}